In [1]:
import pandas as pd
import numpy as np

In [2]:
st_scores = pd.read_csv('student_scores.csv')
st_scores

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [3]:
a = st_scores['Hours']
b = st_scores['Scores']

In [19]:
#Ordinary least squares
def ols_func(a,b):
    a_mean = a.mean()
    b_mean = b.mean()
    x1 = np.sum((b-b_mean)*(a-a_mean))/np.sum((a-a_mean)**2) 
    x0 = b_mean- x1*a_mean
    return(x0,x1)

def predict(x,y):
    predictions = list()
    for hours in a:
        y_hat = x0 + x1 * hours 
        predictions.append(y_hat) 
    return predictions

In [20]:
x0,x1 = ols_func(a,b)
print('Slope: %f Intercept: %f' %(x1,x0))

Slope: 9.775803 Intercept: 2.483673

In [21]:
predict(a,b)

[26.923181882341865,
 52.34027069838929,
 33.7662442558931,
 85.5780022270667,
 36.69898527312934,
 17.14737849155439,
 92.42106460061792,
 56.250592054704285,
 83.62284154890922,
 28.878342560499362,
 77.75735951443673,
 60.16091341101928,
 46.47478866391681,
 34.74382459497184,
 13.237057135239404,
 89.4883235833817,
 26.923181882341865,
 21.05769984786938,
 62.11607408917676,
 74.82461849720049,
 28.878342560499362,
 49.40752968115305,
 39.63172629036558,
 69.93671680180675,
 78.73493985351547]